$white: #ffffff;
$bs-navbar-default-bgcolor: #f8f8f8;
$bs-navbar-height: 50px;
$bs-a-bgcolor: #eeeeee;
$bs-navbar-default-bordercolor: #e7e7e7;
$sidebar-item-width: 255px;
$bs-danger-color: #a94442;
$dark-gray: #464646;
